/* FOOTER */
.footer {
    margin: 0 auto; 
    min-height: 5vh;
    display: flex;    
    background-color: rgb(54, 52, 52);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img{
        width: 30px;
        margin: 0px 10px;
    }
}
