/* Tipografia externa */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$tipo-menu: 'Roboto Slab', serif;
$tipo-general: 'Roboto Mono', monospace;
$gradiente-navbar: linear-gradient(to right, #2f2e2e, #474747);
$color-principal: brown;
$color-secundario: orangered;
$color-texto: white;
$color-fondo: rgb(80, 79, 79);

